:root {
  --primary: #103b19;
  --secondary: #baff4a;
  --dark: #131a26;
  --light: #eee;
}

table td {
  border: 3px solid grey;
  text-align: center;
  font-size: 50px;
  width: 100px;
  height: 100px;
  border-radius: 16px;
}

.container {
  flex-direction: column;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}